{% extends 'base.html' %}

{% block title %}Perfil de Usuario{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <!-- Actualizar Foto de Perfil -->
        <div class="col-md-6">
            <div class="card mb-4">
                <div class="card-header">
                    <h4>Actualizar Foto de Perfil</h4>
                </div>
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ profile_form.as_p }}
                        <button type="submit" class="btn ">Guardar</button>
                    </form>
                </div>
            </div>
        </div>

        <!-- Crear Publicación -->
        <div class="col-md-6">
            <div class="card mb-4">
                <div class="card-header">
                    <h4>Crear Publicación</h4>
                </div>
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ post_form.as_p }}
                        <button type="submit" class="btn ">Publicar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
